* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


/* login section style start */
.login-title {
    text-align: center;
    margin: 10px 0 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #2A75AE;
}

.login_wrapper {
    background: linear-gradient(to bottom right, #2A75AE, #F58634);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

/* Login Card */
.container {
    background: #ffffff;
    width: 360px;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.18);
    animation: fadeIn 0.6s ease;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Heading */
h2 {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 700;
    color: #2A75AE;
    letter-spacing: 1px;
    margin: 0;
}

/* Labels & Inputs */
.input-box {
    margin-bottom: 18px;
}

.input-box label {
    font-size: 14px;
    margin-bottom: 6px;
    display: block;
    color: #2A75AE;
    font-weight: 600;
}

.input-box input {
    width: 100%;
    padding: 12px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    transition: 0.3s ease;
    font-size: 14px;
}

.input-box input:focus {
    border-color: #2A75AE;
    box-shadow: 0 0 8px rgba(42, 117, 174, 0.3);
    outline: none;
}

/* Password Icon */
.password-box {
    position: relative;
}

#togglePassword {
    position: absolute;
    right: 12px;
    top: 67%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #F58634;
}

/* Captcha Section */
.captcha-row {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.captcha-label {
    font-size: 14px;
    color: #2A75AE;
    font-weight: 600;
}

.captcha-label span {
    color: red;
}

.captcha-code {
    background: #2A75AE;
    color: white;
    padding: 10px 14px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.captcha-row input {
    width: 100%;
    padding: 12px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
}

/* LOGIN BUTTON */
.btn-login {
    width: 100%;
    padding: 12px;
    border: none;
    background: linear-gradient(to right, #2A75AE, #F58634);
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s ease;
    letter-spacing: 0.5px;
}

.btn:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}

/* Responsive */
@media (max-width: 420px) {
    .container {
        width: 95%;
        padding: 25px;
    }
}


/* login section style end */

/* ========================================================================= */
/* Aside section start */
.sidebar {
    width: 240px;
    height: 100vh;
    background: #ffffffd9;
    backdrop-filter: blur(8px);
    box-shadow: 4px 0 15px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px 0;
    transition: 0.3s ease;
    z-index: 200;
    /* border-right:1px solid #ddd ; */
}

.sidebar img {
    width: 80px;
    height: 80px;
}

/* Logo Section */
.logo-box {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #f1f1f1;
    margin-bottom: 10px;
}

.logo-box h2 {
    color: #2A75AE;
    margin: 0;
    font-size: 22px;
    letter-spacing: 1px;
}

/* Menu */
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    padding: 14px 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 12px;
    cursor: pointer;
    color: #2A75AE;
    transition: 0.3s ease;
    border-left: 4px solid transparent;
}

.menu li:hover {
    background: #2A75AE15;
    border-left: 4px solid #F58634;
    transform: translateX(5px);
}

.icon {
    font-size: 18px;
}

/* Toggle Button (Mobile) */
.menu-btn {
    display: none;
    font-size: 26px;
    background: #2A75AE;
    color: white;
    padding: 10px 15px;
    width: fit-content;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    z-index: 500;
}

/* Responsive Sidebar */
@media (max-width: 768px) {
    .sidebar {
        left: -260px;
    }

    .sidebar.active {
        left: 0;
    }

    .menu-btn {
        display: block;
    }
}

/* Aside section end */

.layout {
    display: flex;
}

/* ============================================================================== */
.header {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-btn button {
    width: 100px;
    padding: 7px 10px;
    border: 1px solid #F58634;
    border-radius: 10px;
}

.signBtn {
    background-color: #0f77c7;
    color: #fff;

}

.dashBtn {
    background-color: #a3c845;
    color: #fff;

}

.dashBtn:hover {
    background-color: #0f77c7;
    color: #fff;
    border-color: #0f77c7;
    cursor: pointer;
}

.signBtn:hover {
    background-color: #e16052;
    color: #fff;
    border-color: #e16052;
    cursor: pointer;
}

.header h2 {
    margin: 0;
    text-align: left;
}

/* Dashboard style start*/
.dashboard {
    flex: 1;
    margin-left: 240px;
    padding: 20px;
}

/* --- TOP CARDS --- */
.top-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
}

.card {
    padding: 20px;
    border-radius: 10px;
    color: white;
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.card h2 {
    margin: 0;
    font-size: 32px;
    color: #fff;
}

.card p {
    margin-top: 5px;
    font-size: 15px;
}

.card i {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 35px;
    opacity: 0.4;
}

/* Card colors */
.red {
    background: #e16052;
}

.green {
    background: #a3c845;
}

.orange {
    background: #f29537;
}

.blue {
    background: #3094d0;
}

/* --- MAIN GRID --- */
.main-grid {
    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr;
    gap: 20px;
    margin: 30px 0 30px 0;
}

.box {
    background: white;
    padding: 18px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.box h3 {
    margin: 0 0 15px;
    font-size: 18px;
    color: #2A75AE;
}

/* Tables */
.table-wrapper {
    max-height: 300px;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

th {
    background: #2A75AE;
    color: white;
    padding: 8px;
}

td {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}

tr:hover {
    background: #f5faff;
}

/* Responsive */
@media (max-width: 992px) {
    .main-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .dashboard {
        margin-left: 0;
    }
}


.action-buttons {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    gap: 18px;

}

.dash-btn {
    width: 250px;
    display: flex;
    align-items: center;
    gap: 15px;
    background: #2A75AE;
    padding: 5px 15px;
    border-radius: 50px;
    border: 2px solid #e6e6e6;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: 0.3s ease;
}

.dash-btn:hover {
    transform: translateY(-3px);
    border-color: #2A75AE;
    box-shadow: 0 6px 18px rgba(42, 117, 174, 0.25);
    background: #f29537;
}

.icon-box {
    width: 45px;
    height: 45px;
    background: #2A75AE15;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #F58634;
    border: 2px solid #2A75AE20;
}

.dash-btn:hover .icon-box {
    background: #2A75AE;
    color: white;
    border-color: #2A75AE;
}

/* Dashboard style start*/

/* ========================================================================== */


/* FILTER SECTION */
.filter-section {
    flex: 1;
    background: #F5F6FF;
    padding: 20px;
    margin-left: 240px;
}

/* Filter Header */
.filter-header h3 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    color: #2A75AE;
}

/* Filter Body */
.filter-body {
    display: flex;
    gap: 15px;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.form-group label span {
    color: red;
}

/* Inputs */
.form-group select,
.form-group input {
    padding: 10px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Search Button */
.search-btn {
    background: #2A75AE;
    color: #fff;
    border: none;
    padding: 10px 22px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.search-btn:hover {
    background: #0f77c7;
}

/* Responsive */
@media(max-width: 768px) {
    .layout {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }

    .filter-body {
        flex-direction: column;
        width: 100%;
    }

    .form-group {
        width: 100%;
    }
}


/* =================================================================== */
/* upload section */

.container-upload {
    background: white;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;

}


.header-upload {
    background: #2A75AE;
    color: white;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}


.note {
    padding: 10px 20px;
    font-size: 14px;
    color: #b30000;
}


table {
    width: 100%;
    border-collapse: collapse;
}


th,
td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-size: 14px;
}


.upload-btn {
    font-size: 20px;
    padding: 2px 10px;
    border-radius: 50%;
    color: #F58634;
    border: 1px solid #ddd;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-weight: bold;
    cursor: pointer;
}

.view-btn {
    font-size: 20px;
    padding: 2px 10px;
    border-radius: 50%;
    color: #7be651;
    border: 1px solid #ddd;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-weight: bold;
    cursor: pointer;
}

/* ============================================================================ */

/* Attendance section */

/* Main Container */
.attendance-container {
    width: 100%;
    /* padding: 20px; */
    background: #f7f9fc;
    font-family: "Poppins", sans-serif;
}

/* Header Bar */
.attendance-header {
    background: #2A75AE;
    padding: 15px 20px;
    border-radius: 6px;
    margin-top: 30px;
}

.attendance-header h2 {
    margin: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

/* Table Wrapper */
.attendance-table-wrapper {
    margin-top: 15px;
    overflow-x: auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

/* Attendance Table */
.attendance-table {
    width: 100%;
    border-collapse: collapse;
    min-width: 900px;
}

.attendance-table thead {
    background: #2d3f52;
}

.attendance-table th {
    color: #fff;
    font-size: 14px;
    padding: 12px;
    text-align: left;
    font-weight: 500;
}

.attendance-table td {
    padding: 12px;
    border-bottom: 1px solid #e6e6e6;
    font-size: 14px;
}

/* Hover Row Effect */
.attendance-table tbody tr:hover {
    background: #eef4ff;
}

/* Responsive */
@media (max-width: 768px) {
    .attendance-header {
        text-align: center;
    }
}

/* ============================================================================ */

/* Report section */
/* Main Container */
.detail-container {
    width: 100%;
    /* padding: 20px; */
    background: #f7f9fc;
    font-family: "Poppins", sans-serif;
    margin-top: 30px;
}


/* Header Section */
.detail-header {
    background: #2A75AE;
    padding: 18px 20px;
    border-radius: 6px;
    color: #fff;
    position: relative;
}

.detail-header h2 {
    margin: 0 0 12px 0;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

/* Top Buttons */
.detail-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 12px;
    justify-content: space-between;
}

.btn {
    padding: 7px 14px;
    background: #ffffff20;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    transition: 0.3s;
}

.btn:hover {
    background: #ffffff35;
}

/* Search Box */
/* .search-box {
     position: absolute; 
    right: 20px;
    top: 18px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 8px;
} */

.search-box input {
    padding: 5px 12px;
    border-radius: 5px;
    border: none;
    outline: none;
}

/* Table Wrapper */
.detail-table-wrapper {
    margin-top: 15px;
    overflow-x: auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

/* Main Table */
.detail-table {
    width: 100%;
    border-collapse: collapse;
    min-width: 1000px;
}

.detail-table thead {
    background: #2d3f52;
}

.detail-table th {
    padding: 12px;
    color: #fff;
    font-size: 14px;
    text-align: left;
    font-weight: 500;
}

.detail-table td {
    padding: 12px;
    border-bottom: 1px solid #e4e4e4;
    font-size: 14px;
}

/* Hover Effect */
.detail-table tbody tr:hover {
    background: #eef4ff;
}

/* View Button */
.view-btns {
    color: #F58634;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid #2A75AE;
    border-radius: 5px;
    padding: 5px 10px;

}

.view-btns:hover {
    background-color: #2A75AE;
    color: #fff;
}

.view-btn:hover {
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
    .search-box {
        position: static;
        margin-top: 10px;
    }

    .detail-header {
        text-align: center;
    }
}